@model dynamic

@{
    ViewData["Title"] = "Öğrenci Sayısı";
}

<h1>Öğrenci Sayısı</h1>

<p>
    <strong>Geçen Öğrenci Sayısı:</strong> @ViewBag.GecenOgrenciSayisi
</p>

<p>
    <strong>Kalan Öğrenci Sayısı:</strong> @ViewBag.KalanOgrenciSayisi
</p>
